"*":
  "atom-beautify":
    _analyticsUserId: "d98743bd-0025-4db9-a279-6713511834b3"
  core:
    customFileTypes:
      "text.html.twig": [
        "tpl"
      ]
    disabledPackages: [
      "go-plus"
    ]
    themes: [
      "unity-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.1875
    scrollPastEnd: true
    scrollSensitivity: 20
    showIndentGuide: true
    showInvisibles: true
    softTabs: false
    tabLength: 4
  "exception-reporting":
    userId: "634de3f4-c629-9a54-7e9c-397d048b058b"
  "fuzzy-finder": {}
  linter: {}
  "linter-php":
    executablePath: "/usr/local/bin/php"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".source.yaml":
  editor:
    softTabs: true
    tabLength: 2
